{% extends 'jinja_templates/clone.html' %}
{% block title %} Students {% endblock %}
{% block css %}
    <link rel="stylesheet" href="../../static/css/Admin_css/Studying.min.css">
    <style>
        .debt-black input {
            border: 1px solid black;
        }

        .black-debt {
            background: black;
            color: white;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="list_tools">
        <div>
            <form action="{{ url_for('students',page=1,location_id=location_id) }}" method="post">
                <select name="education_language" class="list_tools_language education_language">
                    {% if education_language %}
                        <option value="{{ education_language }}">{{ education_language }}</option>
                    {% endif %}
                    {% for language in languages %}
                        {% if education_language != language.name %}
                            <option value="{{ language.name }}">{{ language.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button hidden class="form_button"></button>
            </form>
        </div>
        <div>
            <div class="list_tools_location"><img src="../../static/img/icons/map-marker-alt-solid.svg"
                                                  alt="">{{ location.name }}
            </div>
        </div>
        <div>
            <form class="search_form" action="" method="post">
                <div class="list_tools_search" id="search_name">
                    <input style="width: 300px" class="list_tools_search_input input_student" data-location="{{ location_id }}" type="text"
                           required name="student"
                           placeholder="Введите имя">
                    <div class="list_tools_search_clear">
                        <span></span>
                        <span></span>
                    </div>

                    <img class="list_tools_search_submit_img" src="../../static/img/icons/search-solid.svg" alt="">
                    <img class="list_tools_search_settings_img" src="../../static/img/icons/cog-solid.svg" alt="">
                    <div class="list_tools_search_settings">
                        <label for="list_tools_search_checkbox_name"><input name="for_search"
                                                                            id="list_tools_search_checkbox_name"
                                                                            class="list_tools_search_checkbox"
                                                                            type="radio" checked value="for_name">For
                            name</label>
                        <label for="list_tools_search_checkbox_surname"><input name="for_search"
                                                                               id="list_tools_search_checkbox_surname"
                                                                               class="list_tools_search_checkbox"
                                                                               type="radio" value="for_surname">For
                            surname</label>
                        <label for="list_tools_search_checkbox_username"><input name="for_search"
                                                                                id="list_tools_search_checkbox_username"
                                                                                class="list_tools_search_checkbox"
                                                                                type="radio" value="for_username">For
                            username</label>
                    </div>
                    <input class="list_tools_search_submit" type="submit" value="submit">
                </div>
            </form>
        </div>

    </div>
    <div class="list_students">
        {% for student in students.items %}
            <a href="{{ url_for('user_profile',user_id=student.user_id) }}">
                <div class="list_students_item">
                    <div class="list_students_item_img">
                        {% if student.user.photo %}
                            <img src="{{ student.user.photo }}" alt="">
                        {% else %}
                            <img src="../../static/img/user_image.png" alt="">
                        {% endif %}
                    </div>
                    <div class="list_students_item_fio">
                        <div class="list_students_item_fio_name"><em>{{ loop.index }}</em> | {{ student.user.name }}
                            <span class="list_students_item_tooltiptext">
                                Имя
                            </span>
                        </div>
                        <div class="list_students_item_fio_surname">{{ student.user.surname }}
                            <span class="list_students_item_tooltiptext">
                                Фамилия
                            </span>
                        </div>
                        <div class="list_students_item_fio_username">{% if student.user.username|length <10 %}
                            {{ student.user.username }}{% elif student.user.username|length >10 %}{{ student.user.username[0:10] }}
                            ...{% endif %}
                            <span class="list_students_item_tooltiptext">
                                Пользователь
                            </span>
                        </div>
                    </div>
                    <div class="list_students_item_account">
                        <span class="list_students_item_account_number ">{{ student.user.balance }}</span>som
                        <span class="list_students_item_tooltiptext">
                            Счет
                        </span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="tools">
        <div class="pages_link">

            {% for link in students.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
                {% if link %}
                    <form action="{{ url_for('students',page=link,location_id=location_id) }}" method="post">
                        {% if students.page == link %}
                            <button class="pages_link_item pages_link_item_active"
                                    data-link="{{ link }}">{{ link }}</button>
                        {% else %}
                            <button class="pages_link_item" data-link="{{ link }}">{{ link }}</button>
                        {% endif %}

                        <input type="text" name="education_language" hidden value="
                                    {% if education_language %}{{ education_language }}{% else %}Узбекский{% endif %}"
                               class="student_education_language">
                    </form>
                {% else %}
                    ...
                {% endif %}
            {% endfor %}

        </div>
    </div>
{% endblock %}
{% block overlay %}
    {% include 'jinja_templates/overlay.html' %}
{% endblock %}
{% block js %}
    <script src="../../static/js/Admin_js/xojakent/Studying%20students.js"></script>
{% endblock %}