body::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  cursor: pointer;
}
body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.57);
  cursor: pointer;
}
body::-webkit-scrollbar-thumb:hover {
  background: #45b3e2;
  cursor: pointer;
}

@keyframes flash {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
.survey {
  position: relative;
  overflow: hidden;
}
.survey__warning {
  text-align: center;
}
.survey__warning span {
  font-family: "Droid Serif", "DejaVu Serif", "STIX", serif;
}
.survey__flash {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(69, 179, 226, 0.56);
  backdrop-filter: blur(10px);
  border-radius: 10px 10px 0 0;
  z-index: 600;
  height: 50px;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 1s;
  box-shadow: 0 0 12px 3px #45b3e2;
  padding: 5px;
  justify-content: space-around;
}
.survey__flash span {
  margin-left: 10px;
  cursor: pointer;
  color: red;
}
.survey__flash__block {
  width: 0;
  height: 2px;
  background: white;
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.survey textarea::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
.survey textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  cursor: pointer;
}
.survey textarea::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.57);
  cursor: pointer;
}
.survey textarea::-webkit-scrollbar-thumb:hover {
  background: #45b3e2;
  cursor: pointer;
}
.survey__buttons {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}
.survey__buttons_btn {
  margin: 5px;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
}
.survey__buttons_btn a {
  text-decoration: none;
  color: black;
}
.survey__buttons_active {
  background: #45b3e2;
  color: white;
}
.survey__buttons_active a {
  color: white;
}
.survey__title {
  text-align: left;
  font-size: 40px;
  margin-bottom: 10px;
}
.survey__form {
  display: flex;
  justify-content: center;
}
.survey__form_extra {
  display: none;
  flex-direction: column;
  height: 130px;
  justify-content: space-around;
  align-items: center;
}
.survey__form_name {
  display: none;
  width: 500px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 350px;
  background: #45b3e2;
  border-radius: 10px;
}
.survey__form_name_active {
  width: 570px;
  height: 510px;
}
.survey__form_name input[type=text] {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px;
}
.survey__form_name select:not([multiple]) {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: white;
  color: black;
}
.survey__form_name textarea {
  width: 90%;
  text-align: center;
  height: 200px;
  resize: none;
  outline: none;
  border-radius: 10px;
  border: none;
}
.survey__form_name input[type=submit] {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px;
  background: white;
  color: black;
}
.survey__form_name input[type=submit]:active {
  transform: scale(0.9);
}
.survey__form_block {
  display: none;
  width: 500px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 400px;
  background: #45b3e2;
  border-radius: 10px;
}
.survey__form_block select:not([multiple]) {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: white;
  color: black;
}
.survey__form_block input[type=text] {
  width: 70px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 10px;
}
.survey__form_block textarea {
  width: 90%;
  text-align: center;
  height: 200px;
  resize: none;
  outline: none;
  border-radius: 10px;
  border: none;
}
.survey__form_block input[type=submit] {
  border: none;
  outline: none;
  background: white;
  color: black;
  padding: 5px;
  border-radius: 10px;
}
.survey__form_block input[type=submit]:active {
  transform: scale(0.9);
}
.survey__form_block_active {
  width: 800px;
  height: 600px;
}
.survey__form_block_active textarea {
  width: 70%;
}
.survey__form_select {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.survey__form_select div {
  cursor: pointer;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}
.survey__form_select div img {
  width: 16px;
}
.survey__created {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.survey__created_surveys {
  display: flex;
  justify-content: space-around;
  width: 600px;
  margin-bottom: 40px;
  height: 70px;
  overflow: auto;
  flex-wrap: wrap;
}
.survey__created_surveys > div {
  background: #efefef;
  padding: 5px;
  border-radius: 10px;
  height: 35px;
}
.survey__created_surveys > div a {
  text-decoration: none;
  color: black;
}
.survey__created_surveys_active {
  background: #45b3e2 !important;
}
.survey__created_surveys_active a {
  color: white !important;
}
.survey__created_name {
  display: flex;
  align-items: center;
  font-size: 25px;
}
.survey__created_name img {
  margin-left: 10px;
  width: 30px;
  cursor: pointer;
}
.survey__created_list {
  display: flex;
  flex-direction: column;
  height: 240px;
  overflow: auto;
}
.survey__created_list::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
.survey__created_list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  cursor: pointer;
}
.survey__created_list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.57);
  cursor: pointer;
}
.survey__created_list::-webkit-scrollbar-thumb:hover {
  background: #45b3e2;
  cursor: pointer;
}
.survey__created_box {
  display: flex;
  width: 900px;
  height: 150px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.survey__created_box_active {
  background: #45b3e2;
}
.survey__created_box a {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-decoration: none;
  color: black;
}
.survey__created_description {
  display: flex;
  width: 550px;
  height: 100px;
  overflow: auto;
}
.survey__created_info {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.survey__created_info img {
  width: 90%;
  height: 90%;
}
.survey__overlay {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.71);
}
.survey__overlay_labels {
  width: 100%;
}
.survey__overlay_active {
  display: flex;
}
.survey__overlay_extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 125px;
}
.survey__overlay_block {
  width: 620px;
  height: 430px;
  background: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}
.survey__overlay_block_active {
  height: 480px;
  position: absolute;
  bottom: 2%;
}
.survey__overlay_block form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.survey__overlay_block label input.survey_number {
  width: 70px;
  height: 30px;
}
.survey__overlay_block select:not([multiple]) {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #45b3e2;
  color: white;
}
.survey__overlay_block textarea {
  width: 90%;
  text-align: center;
  height: 200px;
  resize: none;
  outline: none;
  border-radius: 10px;
}
.survey__overlay_block ::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
.survey__overlay_block ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  cursor: pointer;
}
.survey__overlay_block ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.57);
  cursor: pointer;
}
.survey__overlay_block ::-webkit-scrollbar-thumb:hover {
  background: #45b3e2;
  cursor: pointer;
}
.survey__overlay_block .buttons {
  width: 440px;
  display: flex;
  justify-content: space-around;
}
.survey__overlay_block .buttons button {
  border: none;
  outline: none;
  background: white;
  color: black;
  padding: 5px;
  border-radius: 10px;
  background: #45b3e2;
}
.survey__overlay_block .buttons button:active {
  transform: scale(0.9);
}
.survey__overlay_block .buttons button:nth-child(2) {
  background: red;
}
.survey__overlay_main {
  margin-top: 20px;
  display: none;
  flex-direction: column;
  width: 700px;
  height: 440px;
  background: white;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
}
.survey__overlay_main_active {
  width: 700px;
  height: 590px;
}
.survey__overlay_main input[type=text] {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px;
  background: #45b3e2;
  color: white;
}
.survey__overlay_main select:not([multiple]) {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #45b3e2;
  color: white;
}
.survey__overlay_main textarea {
  width: 90%;
  text-align: center;
  height: 200px;
  resize: none;
  outline: none;
  border-radius: 10px;
}
.survey__overlay_main input[type=submit] {
  border: none;
  outline: none;
  color: white;
  padding: 5px;
  border-radius: 10px;
  background: #45b3e2;
}
.survey__overlay_main input[type=submit]:active {
  transform: scale(0.9);
}
.survey_active {
  display: flex;
}

.splide, .splide2 {
  margin: 20px;
  display: none;
}
.splide_active, .splide2_active {
  display: initial;
}

.splide__arrow--next, .splide__arrow--prev {
  display: none;
}

.splide2 .splide__pagination__page.is-active {
  background: #0f0c0c;
}

.splide2 textarea {
  height: 130px;
}

.divcheckbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divcheckbox input {
  margin-left: 18px;
  width: 20px;
  height: 20px;
}
.divcheckbox label {
  margin: 0;
}

/*# sourceMappingURL=survey.css.map */
